openapi: 3.0.3
info:
  title: Flowxi API Documentation
  version: 1.0.0
servers:
  - url: https://api.flowxi.app

tags:
  - name: Health
    description: Service healthcheck.
  - name: Registration
    description: Registration flows (magic link + email OTP).
  - name: Auth
    description: Login and session management.
  - name: Two-factor authentication
    description: TOTP 2FA endpoints (login verification + manage 2FA).
  - name: Devices
    description: Session/device listing and revocation.

paths:
  /api/v1/health:
    get:
      tags: [Health]
      operationId: getApiV1Health
      summary: Health
      description: Healthcheck endpoint.
      security: []
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: object
                example:
                  status: ok
                  ts: "2026-01-09T10:26:05.213928Z"
                  app_locale: en
                  effective_locale: en
                properties:
                  status:
                    type: string
                    example: ok
                  ts:
                    type: string
                    example: "2026-01-09T10:26:05.213928Z"
                  app_locale:
                    type: string
                    example: en
                  effective_locale:
                    type: string
                    example: en

  /api/v1/auth/register-email:
    post:
      tags: [Registration]
      operationId: postApiV1AuthRegisterEmail
      summary: Register (magic link) - send link
      description: Creates (or reuses) a pending user and sends a single-use magic link email.
      security: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [email]
              properties:
                email:
                  type: string
                  format: email
                  description: Must be a valid email address. Max 255.
                  example: gbailey@example.net
      responses:
        "201":
          description: Magic link sent.
        "409":
          description: Email already used (active account).
        "429":
          description: Rate limited.
        "500":
          description: Mail send failed / server error.

  /api/v1/auth/register/set-password:
    post:
      tags: [Registration]
      operationId: postApiV1AuthRegisterSetPassword
      summary: Register (magic link) - set password
      description: Validates magic link token, sets password, activates account, and issues a token.
      security: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [token, email, password]
              properties:
                token:
                  type: string
                  description: Magic link token (64 chars).
                  example: bngzmiyvdljnikhwaykcmyuwpwlvqwrsitcpscqldzsnrwtujwvlxjklqppwqbew
                email:
                  type: string
                  format: email
                  description: Must be a valid email address. Max 255.
                  example: cynthia.fahey@example.net
                password:
                  type: string
                  description: User password.
                  example: "Str0ngP@ssw0rd!"
      responses:
        "200":
          description: Account activated + token issued.
        "403":
          description: Invalid/expired/used magic link (anti-enumeration safe).
        "404":
          description: User not found.
        "429":
          description: Rate limited.
        "500":
          description: Server error.

  /api/v1/register-email/resend:
    post:
      tags: [Registration]
      operationId: postApiV1RegisterEmailResend
      summary: Register (magic link) - resend link
      description: Resends a magic link for a pending user. Active users get 409.
      security: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [email]
              properties:
                email:
                  type: string
                  format: email
                  description: Must be a valid email address. Max 255.
                  example: gbailey@example.net
      responses:
        "200":
          description: Magic link resent.
        "404":
          description: User not found.
        "409":
          description: Email already active.
        "429":
          description: Rate limited.
        "500":
          description: Mail send failed / server error.

  /api/v1/register-email-code/send:
    post:
      tags: [Registration]
      operationId: postApiV1RegisterEmailCodeSend
      summary: Register (email OTP) - send code
      description: Creates (or reuses) a pending user and sends a 6-digit OTP by email.
      security: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [email]
              properties:
                email:
                  type: string
                  format: email
                  description: Must be a valid email address. Max 255.
                  example: gbailey@example.net
      responses:
        "201":
          description: OTP sent.
        "409":
          description: Email already used (active account).
        "429":
          description: Rate limited.
        "500":
          description: Mail send failed / server error.

  /api/v1/register-email-code/resend:
    post:
      tags: [Registration]
      operationId: postApiV1RegisterEmailCodeResend
      summary: Register (email OTP) - resend code
      description: Resends a 6-digit OTP for a pending user.
      security: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [email]
              properties:
                email:
                  type: string
                  format: email
                  description: Must be a valid email address. Max 255.
                  example: gbailey@example.net
      responses:
        "200":
          description: OTP resent.
        "404":
          description: User not found.
        "409":
          description: Email already active.
        "429":
          description: Rate limited.
        "500":
          description: Mail send failed / server error.

  /api/v1/register-email-code/verify:
    post:
      tags: [Registration]
      operationId: postApiV1RegisterEmailCodeVerify
      summary: Register (email OTP) - verify code
      description: Verifies the OTP (hash match + not expired). Does not activate account yet.
      security: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [email, code]
              properties:
                email:
                  type: string
                  format: email
                  description: Must be a valid email address. Max 255.
                  example: gbailey@example.net
                code:
                  type: string
                  description: 6-digit code.
                  example: "123456"
      responses:
        "200":
          description: OTP valid.
        "422":
          description: OTP invalid/expired.
        "429":
          description: Rate limited.

  /api/v1/register-email-code/set-password:
    post:
      tags: [Registration]
      operationId: postApiV1RegisterEmailCodeSetPassword
      summary: Register (email OTP) - set password
      description: Validates OTP under lock, activates the user, deletes OTP row, and issues a token.
      security: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [email, code, password]
              properties:
                email:
                  type: string
                  format: email
                  description: Must be a valid email address. Max 255.
                  example: gbailey@example.net
                code:
                  type: string
                  description: 6-digit code.
                  example: "123456"
                password:
                  type: string
                  description: User password.
                  example: "Str0ngP@ssw0rd!"
      responses:
        "200":
          description: Account activated + token issued.
        "403":
          description: OTP invalid (anti-enumeration safe).
        "429":
          description: Rate limited.
        "500":
          description: Server error.

  /api/v1/auth/login:
    post:
      tags: [Auth]
      operationId: postApiV1AuthLogin
      summary: Login (email + password)
      description: >
        Anti-enumeration strict: unknown email, wrong password, non-active account => INVALID_CREDENTIALS (401).
        If 2FA enabled: returns a challenge (no token). If 2FA disabled: issues a token (1 token per device_id).
      security: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [email, password, device_type, device_name, device_id]
              properties:
                email:
                  type: string
                  format: email
                  description: Must be a valid email address. Max 255.
                  example: gbailey@example.net
                password:
                  type: string
                  description: Password.
                  example: "+-0pBNvYgxwmi/#iw"
                device_type:
                  type: string
                  description: Device category (ios/android/web). Max 50.
                  example: web
                device_name:
                  type: string
                  description: Human-readable device name. Max 80.
                  example: "Chrome (Mac)"
                device_id:
                  type: string
                  description: Stable unique device identifier. Max 100.
                  example: "device-uuid-123"
                country:
                  type: string
                  nullable: true
                  description: Optional country metadata. Max 100.
                  example: BJ
      responses:
        "200":
          description: Login success (token) OR 2FA challenge returned.
        "401":
          description: Invalid credentials (anti-enumeration).
        "429":
          description: Rate limited.
        "500":
          description: Server error.

  /api/v1/auth/2fa/verify-login:
    post:
      tags: [Two-factor authentication]
      operationId: postApiV1Auth2faVerifyLogin
      summary: Verify login 2FA (step 2)
      description: >
        Validates TOTP and issues a token (enforces 1 token/device).
        Anti-bruteforce: max 5 attempts/challenge. Challenge bound to UA + IP + device_id.
      security: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [challenge_id, code]
              properties:
                challenge_id:
                  type: string
                  format: uuid
                  description: Challenge id returned by /auth/login when 2FA is required.
                  example: 6ff8f7f6-1eb3-3525-be4a-3932c805afed
                code:
                  type: string
                  description: TOTP code (4-10 digits).
                  example: "123456"
      responses:
        "200":
          description: Token issued.
        "403":
          description: Invalid code / binding mismatch / too many attempts.
        "410":
          description: Challenge expired or missing.
        "429":
          description: Rate limited.
        "500":
          description: Server error.

  /api/v1/auth/logout:
    post:
      tags: [Auth]
      operationId: postApiV1AuthLogout
      summary: Logout (current session)
      description: Deletes the current token only.
      responses:
        "200":
          description: Logged out.
        "401":
          description: Unauthenticated.

  /api/v1/auth/logout-device:
    post:
      tags: [Devices]
      operationId: postApiV1AuthLogoutDevice
      summary: Logout a specific device
      description: Revokes the token associated with a device_id.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [device_id]
              properties:
                device_id:
                  type: string
                  description: Device id. Max 100.
                  example: "device-uuid-123"
      responses:
        "200":
          description: Device logged out.
        "401":
          description: Unauthenticated.
        "422":
          description: Validation failed.

  /api/v1/auth/devices:
    get:
      tags: [Devices]
      operationId: getApiV1AuthDevices
      summary: List active devices
      description: Lists active tokens with device metadata (excludes legacy tokens without device_id).
      responses:
        "200":
          description: OK
        "401":
          description: Unauthenticated.
          content:
            application/json:
              schema:
                type: object
                example:
                  message: Unauthenticated.
                  code: UNAUTHENTICATED
                properties:
                  message:
                    type: string
                    example: Unauthenticated.
                  code:
                    type: string
                    example: UNAUTHENTICATED

  /api/v1/auth/2fa/status:
    get:
      tags: [Two-factor authentication]
      operationId: getApiV1Auth2faStatus
      summary: 2FA status (and enrollment info if disabled)
      description: >
        If enabled: never returns secret nor otpauth_uri.
        If disabled: returns pending secret + otpauth_uri for enrollment (stored in cache, not DB).
      responses:
        "200":
          description: OK
        "401":
          description: Unauthenticated.
          content:
            application/json:
              schema:
                type: object
                example:
                  message: Unauthenticated.
                  code: UNAUTHENTICATED
                properties:
                  message:
                    type: string
                    example: Unauthenticated.
                  code:
                    type: string
                    example: UNAUTHENTICATED

  /api/v1/auth/2fa/enable:
    post:
      tags: [Two-factor authentication]
      operationId: postApiV1Auth2faEnable
      summary: Enable 2FA
      description: Verifies code against pending secret (cache), commits secret to DB, enables 2FA. Does not force logout.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [code]
              properties:
                code:
                  type: string
                  description: TOTP code (4-10 digits).
                  example: "123456"
      responses:
        "200":
          description: 2FA enabled.
        "401":
          description: Unauthenticated.
        "403":
          description: Invalid code / enrollment missing.
        "429":
          description: Rate limited.
        "500":
          description: Server error.

  /api/v1/auth/2fa/disable:
    post:
      tags: [Two-factor authentication]
      operationId: postApiV1Auth2faDisable
      summary: Disable 2FA
      description: Verifies code against DB secret, disables 2FA (resets secret). Does not force logout.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [code]
              properties:
                code:
                  type: string
                  description: TOTP code (4-10 digits).
                  example: "123456"
      responses:
        "200":
          description: 2FA disabled.
        "401":
          description: Unauthenticated.
        "403":
          description: Invalid code.
        "429":
          description: Rate limited.
        "500":
          description: Server error.

  /api/v1/auth/2fa/verify:
    post:
      tags: [Two-factor authentication]
      operationId: postApiV1Auth2faVerify
      summary: Step-up verify 2FA
      description: Proves 2FA for sensitive actions. Does not issue a token.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [code]
              properties:
                code:
                  type: string
                  description: TOTP code (4-10 digits).
                  example: "123456"
      responses:
        "200":
          description: Verified.
        "401":
          description: Unauthenticated.
        "403":
          description: Invalid code.
        "429":
          description: Rate limited.
        "500":
          description: Server error.
